.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

/* *{
  text-decoration: 'none'
} */
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.flex-container {
  display: flex;
  border: 1px solid black;
  flex-direction: row;
}



.flex-child-magenta {
  margin-right: 20px;
  text-align: center;
  vertical-align: baseline;
  flex-direction: column;
} 

.flex-child {
  text-align: center;
  flex-direction: column;
  margin: 5px;
  flex: 1;
}  
